body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #213743; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b1bad3; 
}

.custom-list {
  list-style-type: none; /* Removes the default bullet points */
}

.custom-list li::before {
  content: "•"; /* Unicode for bullet point */
  font-size: 1.5rem; /* Adjust bullet size */
  margin-right: 8px; /* Add space between bullet and text */
}

.highest-bet::before {
  color: rgba(255, 99, 132, 0.6); /* Bullet color for Highest Bet */
}

.lowest-bet::before {
  color: rgba(75, 192, 192, 0.6); /* Bullet color for Lowest Bet */
}

.average-bet::before {
  color: rgba(54, 162, 235, 0.7); /* Bullet color for Average Bet */
}

.scrollbar-thin {
  scrollbar-width: thin; 
  scrollbar-color: #b1bad3 transparent; 
}

.scrollbar-thin::-webkit-scrollbar{
  height: 2px; 
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  border-radius: 10px; 
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent; 
}

@tailwind base;
@tailwind components;
@tailwind utilities;

